<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<!-- 引入样式 -->
		<link rel="stylesheet" href="../common/css/element-ui-2.13.0.css" th:href="@{/vmt/common/css/element-ui-2.13.0.css}">
		<title>Vmt logs</title>
	</head>
	<body>
		<div id="app">
			<log-table :table-data="pageTableData" :height="height">
				<el-input
						placeholder="type log name..."
						prefix-icon="el-icon-search"
						v-model="searchStr"
						size="small"
						autosize
						style="width: 50%">
				</el-input>
			</log-table>
			<div class="block" style="text-align: left">
				<el-pagination
						@size-change="handleSizeChange"
						@current-change="handleCurrentChange"
						:current-page="currentPage"
						:page-sizes="pageSizes"
						:page-size="pageSize"
						layout="total, sizes, prev, pager, next, jumper"
						:total="showTableData.length">
				</el-pagination>
			</div>
		</div>
	</body>
	<script th:inline="javascript">
		var ctx = [[@{/}]];
	</script>
	<script src="../common/js/base64.min.js" th:src="@{/vmt/common/js/base64.min.js}"></script>
	<script src="../common/js/vue.min.js" th:src="@{/vmt/common/js/vue.min.js}"></script>
	<script src="../common/js/axios.min.js" th:src="@{/vmt/common/js/axios.min.js}"></script>
	<script src="../common/js/element-ui-2.13.0.js" th:src="@{/vmt/common/js/element-ui-2.13.0.js}"></script>
	<script src="./js/logService.js" th:src="@{/vmt/log/js/logService.js}"></script>
	<script src="./js/logTable.js" th:src="@{/vmt/log/js/logTable.js}"></script>
	<script>
		const vm = new Vue({
			el: '#app',
			data: {
				tableData:[],
				showTableData: [],
				height: document.documentElement.clientHeight * 0.85,
				currentPage: 1,
				pageSize: 10,
				pageSizes: [1,10,20,50,100,150,200,500,1000],
				searchStr: ''
			},
			methods:{
				listAllFiles() {
					axios.get(ctx + "vmt/log/list")
							.then(response => {
								this.tableData = response.data;
								this.showTableData = this.tableData;
							})
							.catch(function (error) {
								console.log(error);
							});
				},
				handleSizeChange(pageSize){
					// 改变每页显示的条数
					this.pageSize=pageSize;
					// 注意：在改变每页显示的条数时，要将页码显示到第一页
					this.currentPage=1;
				},
				handleCurrentChange(currentPage){
					// 改变默认的页数
					this.currentPage=currentPage;
				}
			},
			computed:{
				pageTableData: function () {
					let start = (this.currentPage - 1) * this.pageSize;
					let end = start + this.pageSize;
					return this.showTableData.slice(start,end);
				}
			},
			watch:{
				searchStr: function (newSearchStr, oldSearchStr) {
					if (newSearchStr !== ''){
						this.showTableData = this.tableData.filter(logInfo => logInfo.fileName.indexOf(newSearchStr) !== -1);
					}else {
						this.showTableData = this.tableData;
					}
				}
			},
			created: function () {
				// this = this;
				this.listAllFiles();
			},
		});
	</script>
</html>
